[submodule "openai-hf-interface"]
	path = openai-hf-interface
	url = https://github.com/BillLin66/openai-hf-interface.git
	branch = main
[submodule "OC_Atari"]
	path = OC_Atari
	url = https://github.com/BillLin66/OC_Atari.git
